<section class="wrapper">

	<%= form_for @profile, :url => user_profile_path do |f| %>
	  <%= f.text_field :city, placeholder: "City" %>
	  <%= f.text_field :country, placeholder: "Country" %>
	  <%= f.button :submit %>
	<% end %>

</section>