<%= link_to "Add a listing", new_listing_path %>

<% if @listings.any? %>
	<% @listings.each do |listing| %>
		<%= link_to "#{listing.title}", listing_path(listing) %>
	<% end %>
<% else %>
	<p>No listings yet</p>
<% end %>