<section class="wrapper">

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
	<%= submit_tag "Search" %>
<% end %>

<ul>
		<% if @users.any? %>
			<% @users.each do |user| %>
				<li.block>
					<%= link_to "#{user.email}", user_path(user) %>
				</li.block>
			<% end %>
		<% else %>
			<p>No users yet</p>
		<% end %>
</ul>

</section>
