<section class="wrapper">
<ul>
	<% if @watched_listings.any? %>
		<% @watched_listings.each do |listing| %>
			<li><%= link_to listing.title, listing_path(listing) %> <%= link_to "Remove from watchlist - #{listing.title}", listing_unwatch_path(listing), method: :delete %></li>
		<% end %>
	<% else %>
		<li>No items in your watchlist yet :(</li>
	<% end %>
</ul>

</section>