<ul>
	<% @watched_listings.each do |listing| %>
		<li><%= listing.title %> <%= link_to "Remove from watchlist - #{listing.title}", listing_unwatch_path(listing), method: :delete %></li>
	<% end %>
</ul>