<div class="container">
  <div class="col-centered">
  <h2>Houston we have a problem.</h2>

  <h4>Sorry, but we were unable to serve your request.</h4>

  <br></br>

  <a class="btn btn-border" href="javascript:history.back()">Back to previous page</a>

  <br></br>

  <a class="btn btn-border" href="root_path">Back to the homepage</a>
  </div>
</div>  